{% extends 'base.html' %}

{%  load crispy_forms_tags %}
{% block content %}
    <h2>Files</h2>
    <table class=""table mb-0">
        <thread>
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Image</th>
                <th>Render</th>
                <th>Delete</th>
          </tr>
      </thread>
       <tbody>
          {% for  file in files %}
            <tr>
                <td>{{ file.title }}</td>
                <td>{{ file.type }}</td>
                <td>
                    <a href="{{ file.file.url }}" class=btn btn-primary btn-sm" target="_blank">Image</a>
                </td>
                <td>
                   <form method="POST" action="{% url 'renderSTL' file.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-small" target="_blank">Render</button>
                        </form>
                </td>
                <td>
                    <form method="POST" action="{% url 'delete_file' file.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-small">Delete</button>
                        </form>
                </td>
            </tr>
       {%  endfor %}
      </tbody>
     </table>
{% endblock %}